
<div class="mat-elevation-z8 p-3 rounded">
<h2>Cadastro de contatos</h2>

<div class="col-md-12 d-flex justify-content-end">
  <button mat-raised-button color="primary">
      <mat-icon class="actions" aria-hidden="false" title="Novo contato" (click)="openDialogContatoPersist('CREATE')">
        group_add
      </mat-icon>
  </button>
</div>

  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button title="Gerenciar telefones do contato" (click)="openDialogTelefone(element.id)">
          <mat-icon>perm_contact_calendar</mat-icon>
        </button>
        <button mat-icon-button title="Editar contato" (click)="openDialogContatoPersist('EDIT', element.id)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button title="Remover contato" (click)="onRemove(element.id)">
          <mat-icon class="text-danger">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>



